body{
  background: black;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
}
.container-fluid{
  max-width: 1352px;
}
.card{
  background: none;
  padding-bottom: 10px;
}
.card img{
  height: 100%;
  border-radius: 0px;
}
.card p{
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
}
.card h4{
  background-color: rgba(129, 155, 200, 0.9);
}
.card p:hover{
  background-color: white;
}
.card-img-overlay{
  padding: 15px;
}
.card-text{
  position:relative;
  height: 50px;
  top:14em;
  background-color: rgba(255, 255, 255, 0.9);
}
.card{
  height:315px;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}
#text-blue{
  position:relative;
  background-color: rgba(129, 155, 200, 0.9);
  font-weight: bold;
  color: white;
  top: 15em;
}
#text-blue:hover{
  background-color: #819bc8;
}
.bouton{
  color: white;
  font-weight: bold;
  width: 100%;
  height: 40px;
  background-color: #15418C;
  margin: 30px 0;
  text-align: center;
  padding: 5px;
}
.bouton:hover{
  background-color: #5D7FB9;
  text-decoration: none;
  color: white;
}
#ie{
  height: 580px;
}
#io{
  height:250px;
}
#tuile5{
  background-image: url(../image/img1.jpg);
}
#tuile6{
  background-image:url(../image/img2.jpg);
}
#tuile7{
  background-image: url(../image/18-051c.jpg);
}
