body{
  background: black;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
}
.container-fluid{
  max-width: 1366px;
}
nav{
  max-width: 1332px;
  z-index:100;
  margin: auto;
}
.card{
  background: none;
  padding-bottom: 10px;
}
.card img{
  height: 100%;
  border-radius: 0px;
}
.card p{
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
}
.card h4{
  background-color: rgba(129, 155, 200, 0.9);
}
.card h4:hover{
  background-color: #819bc8;
}
.card p:hover{
  background-color: white;
}
.card-img-overlay{
  padding: 15px;
}
#text-blue{
  position:relative;
  background-color: rgba(129, 155, 200, 0.9);
  top:14.4em;
}
#text-blue:hover{
  background-color: #819bc8;
}
.card-text{
  position:relative;
  background-color: rgba(255, 255, 255, 0.9);
  height: 50px;
  top:13.5em;
}

.card{
  height:315px;
  margin: 10px 0 0 0;
}
#ie{
  height: 580px;
}
#io{
  height:250px;
}
#events{
  background-color: #39719E;
  color: white;
  padding-top: 10px;
  font-weight: normal;
}
.infos, .left, .right{
  color:white;
  font-size: 0.8em;
  font-weight: normal;
}
hr{
  background-color:white;
}
.card a{
  color: black;
}
#tuile1, #tuile2, #tuile4, #tuile5, #tuile6, #tuile7, #tuile8, #tuile9, #tuile10{
  height:315px;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}
#tuile1{
  background-image: url(https://www.nasa.gov/sites/default/files/styles/2x2_cardfeed/public/thumbnails/image/zurek-1-pia22519-1200.gif);
  height: 640px;
}
#tuile2{
  background-image: url(https://www.nasa.gov/sites/default/files/thumbnails/image/peggy_whitson_0.jpg);
}
#tuile4{
  background-image: url(../image/Nasa2.jpg);
}
#tuile5{
  background-image: url(../image/img1.jpg);
}
#tuile6{
  background-image:url(../image/img2.jpg);
}
#tuile7{
  background-image: url(../image/18-051c.jpg);
  margin: 15px;
}
#tuile8{
  background-image: url(../image/p7090097.jpg);
}
#tuile9{
  background-image: url(../image/pia19808.jpg);
}
#tuile10{
  background-image: url(../image/lunar_feature_header_pic.jpg);
}
.bouton{
  color: white;
  font-weight: bold;
  width: 100%;
  height: 40px;
  background-color: #15418C;
  margin: 30px 0;
  text-align: center;
  padding: 5px;
}
.bouton:hover{
  background-color: #5D7FB9;
  text-decoration: none;
  color: white;
}
.test{
  padding-right: 16px;
}
